/* Write your code here. */
.thumbnail-list-item {
  margin-right: 16px;
  margin-bottom: 16px;
}

.thumbnail-button {
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.thumbnail {
  width: 60px;
  height: 60px;
  opacity: 0.5;
  border-radius: 5px;
}

.active {
  opacity: 1;
}
